* {
  margin: 0px;
  padding: 0px;
}

.headingComp {
  display: flex;
  justify-content: center;
  background-color: rgb(109, 108, 105);
  padding: 5px 0px;
  color: white;
}

.submit {
  color: white;
  background-color: black;
  padding: 4px 10px;
  width: 70px;
  border-radius: 4px;
  cursor: pointer;
}

.headingComp {
  font-weight: bolder;
  font-size: 40px;
}

.input {
  margin: 5px 0px;
}

.input * {
  outline: none;
  box-shadow: none;
}

.inputname {
  font-weight: 600;
  font-size: 18px;
}

.inputcontainertop {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw; viewport width */
  height: 92vh;
  background-color: rgb(212, 203, 203);
}

.inputcontainerchild {
  border: 2px solid black;
  padding: 20px;
  border-radius: 7px;
  background-color: white;
}

.submitparent {
  display: flex;
  justify-content: center;
}
.errors {
  color: red;
}

.singleuser {
  display: flex;
}
.singleuser * {
  border: 1px solid black;
  padding: 3px 15px;
  /* margin: 4px; */
  width: 215px;
  text-align: center;
  margin-top: 10px;
  background-color: rgb(98, 146, 118);
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.fieldUser {
  display: flex;
  margin-left: 20px;
}

.fieldUser * {
  width: 250px;
  border: 1px solid black;
  text-align: center;
  padding: 4px 0px;
  background-color: maroon;
  color: white;
}

.countWithUser {
  display: flex;
  align-items: center;
}

.update,
.delete {
  background-color: rgb(61, 122, 212);
  color: white;
  padding: 4px 10px;
  margin-left: 4px;
  border-radius: 2px;
  margin-top: 9px;
  cursor: pointer;
}
.delete {
  background-color: crimson;
}

.UsersContainer {
  margin-top: 20px;
  margin-left: 10px;  
}
.count {
  background-color: black;
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 9px;
  font-weight: 800;
  margin-top: 10px;
}

.singleuser {
  border-radius: 5px;
}

.arrowscontainer {
  display: flex;
  justify-content: center;
  margin-top: 23px;
}

.arrowscontainer * {
  margin-right: 5px;
  cursor: pointer;
}

.searchfunc input {
  outline: none;
  box-shadow: none;
  margin-bottom: 15px;
  margin-left: 20px;
  padding: 3px 5px;
}

.searchfunc{
  display: flex;
  align-items: center;
}

.searchfunc div{
  background-color: black;
  color: white;
  margin-bottom: 15px;
  padding: 3px 10px;
  margin-left: 7px;
  cursor: pointer;
}

.navbut{
  width: 100px;
  background-color: rgb(1, 14, 14);
  color: white;
  /* padding: 1px 10px; */
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}